### Python Basics

Use Python basic mathematical operation to solve the problem below. What is the output?

In [1]:
(-10-2)*4

-48

Use Python basic mathematical operation to solve the problem below. What is the output?

In [2]:
1+2+3+4.0+5+6

21.0

Use Python basic mathematical operation to solve the problem below. What is the output?

In [3]:
int("5" + "4")

54

### Datastructures

 How do you access the last element of the tuple: A=(0,1,2,3)

In [5]:
A=(0,1,2,3)
A[3]
A[-1]

3

Consider the list B=["a","b","c"]. What is the result of the following B[1:]

In [14]:
B=["a","b","c"]
B[1:]

['b', 'c']

What does union do on this situation?

In [20]:
#Combined
S = {'A', 'B', 'C'}
T = {'A', 'Z', 'C'}
U = T.union(S)
print(U)

#Trick question
S = {'A', 'B', 'C'}
S = {'A', 'Z', 'C'}
U = U.union(S)
print(S)

{'A', 'Z', 'B', 'C'}
{'A', 'Z', 'C'}

Consider the following Dictionary. What is the result of the following: D.values()

In [21]:
D = {'a' :0, 'b' :1, 'c' :2}
D.values()

dict_values([0, 1, 2])

Consider the following Dictionary. What is the output of the following D['b']

In [22]:
D = {'a' :0, 'b' :1, 'c' :2}
D['b']

1

### Building Algorithms Task

Write a Python program to calculate a dog's age in dog's years. Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [3]:
h_age = int(input("Input a dog's age in human years: "))

if h_age < 0:
    print("Age must be positive number")
    exit()
if h_age <= 2:
    d_age = h_age * 10.5
else:
    d_age = 21 + (h_age - 2)*4
print ("The dog's age in dog's years is", d_age)

Input a dog's age in human years: 2
The dog's age in dog's years is 21.0

Complete the code below to get the expected outcome. Write a Python function to find the Max of three numbers.

In [17]:
def max_of_two(x,y):
    if (x>y):
        return x
    return y

def max_of_three(x,y,z):
    return max_of_two(x,(max_of_two(y,z)))

def max_of_four(a,x,y,z):
    return max_of_two(a,(max_of_three(x,y,z)))
print(max_of_four(55,3,6,-5))

55

Complete the code below to get the expected outcome. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [19]:
nl=[]
for x in range(1500,2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print(','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

Complete the code below to get the expected outcome. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. Note: Use 'continue' statement.

In [32]:
for x in range(0,7):
    if (x==3 or x==6):
        continue
    else:
        print(x,end=' ')

0 1 2 4 5

Complete the code below to get the expected outcome. Write a Python program to reverse a string. Given String 1234abcd.

In [52]:
def string_reverse(str1):
    rstr1=''
    index = len(str1)
    while index > 0:
        rstr1 +=str1[index-1]
        index = index - 1
    return rstr1
        ##rstr1 += str1[index-1]
        ##index = index - 1
    ##return str1
print(string_reverse('1234abcd'))

dcba4321